<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>欢迎页面-X-admin2.0</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="../../../static/css/font.css">
	<link rel="stylesheet" href="../../../static/css/xadmin.css">
	<script type="text/javascript" src="../../../static/jquery/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="../../../static/lib/layui/layui.js" charset="utf-8"></script>
</head>

<body>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
          <cite>导航元素</cite>
		</a>
      </span>
	<a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
		<i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
	<div class="layui-row">
		<form class="layui-form layui-col-md12 x-so">
			<input class="layui-input" placeholder="开始日" name="start" id="start">
			<input class="layui-input" placeholder="截止日" name="end" id="end">
			<input type="text" name="username"  placeholder="请输入用户名" autocomplete="off" class="layui-input">
			<button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
		</form>
	</div>
	<xblock>
		<button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
		<button class="layui-btn" onclick="x_admin_show('添加用户','./admin-add.html')"><i class="layui-icon"></i>添加</button>
		<span class="x-right" style="line-height:40px">共有数据：88 条</span>
	</xblock>

	<a onclick="layy()"></a>
	<table class="layui-table"  style="width: 800px">
		<thead>
		<tr>
			<th>ID</th>
			<th>用户名</th>
			<th>密码</th>
			<th>用户状态</th>
			<th>盐值</th>
			<th>操作</th>
		</tr>
		</thead>
		<tbody id="tbody">

		</tbody>
	</table>
	<div id="page1"></div>

</div>
<script type="text/javascript">


    layui.use(['laypage','layer'], function(){
        var laypage = layui.laypage;
        var layer = layui.layer;


        var url = "/userList";
        var config = {page:1,pageSize:10};
        $.getJSON(url,config,function(res){
            laypage.render({
                elem: 'page1',
                count: res.count, //总条数
                theme: '#FFB800', //自定义颜色
                limits: [5,10,15,20,25],
                layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip'],
                jump: function(obj, first){
                    if(!first){ //首次则不进入
                        config.page = obj.curr;
                        config.pageSize = obj.limit;
                        getUserListByPage(url,config);
                    }
                }
            });
            parseUserList(res,config.page);
        });

    });
    //点击页数从后台获取数据
    function getUserListByPage(url,config){
        $.getJSON(url,config,function(res){
            parseUserList(res,config.page);
        });
    }

    //解析数据，currPage参数为预留参数，当删除一行刷新列表时，可以记住当前页而不至于显示到首页去
    function parseUserList(res,currPage){
        var content = "";
        $.each(res.data, function (i, o) {
            content += "<tr>";
            content += "<td>"+o.userId+"</td>";
            content += "<td>"+o.username+"</td>";
            content += "<td>"+o.password+"</td>";
            content += "<td>"+o.type+"</td>";
            content += "<td>"+o.salt+"</td>";
            content += "<td>";
            content += "	<a onclick=\"x_admin_show('修改密码','/toUserPassword?userid="+o.userId+"',600,400)\" title=\"修改密码\">";
            content += "		<i class=\"layui-icon\">&#xe631;</i>";
            content += "	</a>";
            content += "</td>";
            content += "</tr>";
        });
        $('#tbody').html(content);
    }

</script>
</body>

</html>