<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../../../static/css/font.css">
    <link rel="stylesheet" href="../../../static/css/xadmin.css">
    <script type="text/javascript" src="../../../static/jquery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../../../static/lib/layui/layui.js" charset="utf-8"></script>
</head>
<style>
    .formdiv {
        position: fixed;
        left: 50%;
        z-index: 11;
        /*设定这个div的margin-top的负值为自身的高度的一半,margin-left的值也是自身的宽度的一半的负值.*/
        /*宽为400,那么margin-top为-200px*/
        /*高为200那么margin-left为-100px;*/
        margin: 50px 0 0 -350px;
    }
</style>
<body >
<div class="formdiv">
    <form action="/updateUserById">
        <div class="layui-form-item">
            <label for="L_username" class="layui-form-label">
                <span class="x-red">*</span>用户ID
            </label>
            <div class="layui-input-inline">
                <input th:value="${user.userId}" readonly="readonly" type="text" id="L_userId" name="userId" required="" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="L_username" class="layui-form-label">
                <span class="x-red">*</span>用户名
            </label>
            <div class="layui-input-inline">
                <input th:value="${user.username}" readonly="readonly" type="text" id="L_username" name="username" required="" lay-verify="nikename" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="L_username" class="layui-form-label">
                <span class="x-red">*</span>生日
            </label>
            <div class="layui-input-inline">
                <input th:value="${user.birthday}" type="text" id="L_birthday" name="birthday" placeholder="yyyy-MM-dd" required="" lay-verify="date" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label  class="layui-form-label">
            </label>
            <input type="submit" value="提交" class="layui-btn">
            <a href="/user"  class="layui-btn" >返回</a>
        </div>
        <input th:value="${msg}" id="msg" style="display: none">
    </form>
</div>
<script>
    layui.use(['laydate','layer'], function(){

        var layer = layui.layer;
        var laydate = layui.laydate;
        var msg = $("#msg").val();
        if (msg == "保存成功"){
            layer.msg("保存成功");
        }
        if (msg == "保存失败") {
            layer.msg("保存失败");
        }
        laydate.render({
            elem: '#L_birthday'
        });

        // //监听提交
        // form.on('submit(save)', function(data){
        //     $.ajax({
        //         type: 'post',
        //         url: '/updateUserById',
        //         data: data.field,
        //         dataType:'JSON',
        //         success: function(data){
        //             if (data == 'success'){
        //                 layer.msg("更改成功");
        //             }else {
        //                 layer.msg('更改失败');
        //             }
        //         }
        //     });
        //     return false;
        // });


    });
    // function update() {
    //     var userId = $("#L_userId").val();
    //     var birthday = $("#L_birthday").val();
    //     layer.msg(birthday);
    //     $.ajax({
    //         type: 'post',
    //         url: '/updateUserById',
    //         data: {
    //             userId:userId,
    //             birthday:birthday
    //         },
    //         success: function(data){
    //             if (data == 'success'){
    //                 layer.msg("更改成功");
    //             }else {
    //                 layer.msg('更改失败');
    //             }
    //         }
    //     });
    // }
</script>
</body>

</html>